.header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;
}

.navigation__logo{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.38;
/* identical to box height */
color: #212121;
margin-right: 93px;
}
.text__logo{
    color: #2196F3;
}

.navigation {
    display: flex;
    align-items: center;
}

.heder__conteiner {
    display: flex;
    align-items: center;
}

.memu {
    display: flex;
    gap: 50px; 
}

.memu__link {
font-family: 'Roboto';
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--main-text);
display: block;
position: relative;
transition: color 250ms linear;
&:after {
    content: "";
    background-color: var(--accent-color);
    height: 4px;
    border-radius: 2px;
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -36px;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
&:hover{
    &::after {
        opacity: 1;
        }
}

&:hover{
    color: var(--accent-color);
}

&:focus{
    color: var(--accent-color);
}
}


.memu__link .current::after {
    content: "";
    background-color: var(--accent-color);
    height: 4px;
    border-radius: 2px;
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -36px;
    background: var(--accent-color);
    opacity: 1;
}



.heder__contact {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 50px;
}

.contact__mail {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--section-text);
display: inline-flex;
align-items: center;
transition: color 250ms linear;
&:hover,
    &:focus {
    color: var(--accent-color);
    }
}

.contact__tel{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em; 
color: var(--section-text);
display: inline-flex;
transition: color 250ms linear;
&:hover,
    &:focus {
    color: var(--accent-color);
    }
}

.contact__icon {
    margin-right: 10px;
    fill: currentColor;
    &:hover,
    &:focus {
    color: var(--accent-color);
    }
}
