.bacdrop {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    transition: opacity 250ms linear, visibility 250ms linear; 
}

.modal {
    width: 528px;
    height: 581px;
    background-color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleY(1);
    transition: transform 250ms linear;
    padding: 40px;
    border-radius: 5px;
}

.bacdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scaleY(0);
}

.bnt-modal {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    right: 8px;
    top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.modal-close-icon {
    width: 18px;
    height: 18px;
    padding: 0;
    &:hover {
        fill: #2196F3;
    }
}

.is-hidden {
    opacity: 0;
    visibility:hidden;
    pointer-events: none;
}

.modal-titel {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 12px;
}

.form-input {
    width: 100%;
    height: 40px;
    margin-top: 4px;
    margin-bottom: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    outline: transparent;
    &:focus {
        border-color: var(--accent-color);
        
    }
}


.input-wrap {
    position: relative;
}

.modal-input-icon {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 16%;
    left: 12px;
    transform: translateY(-50%);
    .form-input:focus + & {
        fill: var(--accent-color);
    }
    
}

.form-label-text {
font-weight: 400;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.01em;
color: #757575;
margin-bottom: 4px;
}

.form-coment {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 16px 12px;
    resize: none;
    margin-top: 4px;
    margin-bottom: 20px;
    &::placeholder {
    
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
}

.form-coment-text {
font-weight: 400;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.01em;
color: #757575;

}

.form-bnt-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-bnt {
font-weight: 700;
font-size: 16px;
line-height: 1.88;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
background-color: var(--accent-color);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
width: 200px;
height: 50px;
}

.modal-field {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 423px;
    height: 24px;
    margin-bottom: 30px;
}
   

.check-text {
    font-size: 14px;
    color: #212121;
    display: flex;
    align-items: center;
    span {
        width: 16px;
        height: 15px;
        border: 2px solid #212121;
        border-radius: 2px;
        margin-right: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        fill: transparent;
    }
    .input-chek:checked + &t span {
        background-color: var(--accent-color);
        border-color: transparent;
        fill: #FFFFFF;
    }
    
    .input-chek:focus + & span {
        border-color: var(--accent-color);
        
    }
}

.form-terms-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.check-terms {
    color: var(--accent-color);
}

.check-icon {
    width: 16px;
    height: 15px;
    display: block;
}