body{
    font-family: "Roboto", Roboto, sans-serif;
    color: #212121;
}


.link{
    text-decoration: none;
}

.list{
    list-style: none;
}

.visualli-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}